/* 没有内容 */
.OrderBox1{
    text-align: center;
    padding-top: 2.5rem;
    background-color: #f3f3fb;
    height: 100%;
    position: fixed;
    width: 100%;
}

.textBox p:first-child{
    /* display:inline-block; */
    margin-top: .4rem;
    font-size: .35rem;
    color: #999999;
}
.textBox p:last-child{
    display:inline-block;
    font-size: .35rem;
    color: #999999;
}
.textBox p:last-child a{
    color: #29A7FF;
    font-size: .35rem;
}
.couponsBox{
    padding: .6rem .6rem .4rem .6rem;
    background-color: #f3f3fb;
    width: 100%;
    min-height: 20rem;
}
.coupons,.couponsCancel{
    padding: 0 .3rem;
    height: 2.2rem; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    margin-bottom: .5rem;
}
.couponsCancel{
    /* background-color: #575757; */
}
.couponsPrice p,.CancelPrice p{
    font-size:0.67rem;
    font-weight:400;
    color: #FF3B4B;
}
.CancelPrice p{
    color: #BFBFBF;
}
.couponsPrice,.CancelPrice{
    text-align: center;
}
.couponsPrice span,.CancelPrice span{
    color: #FF3B4B;
    font-size:0.3rem;
    font-weight:400;
}
.CancelPrice span{
    color: #BFBFBF;
}
.couponsTime p,.CancelTime p{
    font-weight:400;
    color: #666666;
    font-size: .3rem;
}
.CancelTime p{
    color: #BFBFBF;
}
.couponsBtn button,.CancelBtn button{
    width:1.63rem;
    height:0.56rem;
    background:#FF6E02;
    opacity:0.67;
    font-size: .3rem;
    border-radius: .56rem;
    color: #fff;
}
.CancelBtn button{
    background-color: #BFBFBF;
}